body {
    background-image: url("/assets/img/fotoportal.JPG");
    width: auto;
}

.contenedor-input{
    display: block;
    margin-top: 150px;
    border-radius: 5px;
    text-align: center;
    
}
.ingresar {
    margin-top: 50px;
    text-align: center;
    padding-bottom: 10px;
    color: lavender;
    font: italic bold 45px Georgia, Serif;
}
.form {
    justify-content: center;
    margin-left: 19em;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin: 0 2.5rem;
}
.form-input {
    font-size: 1.65rem;
    border-radius: 1rem;
    background-color: lavender;
    padding: 0 1rem;
    margin: 0 2rem;
}
.label-form {
    text-align: center;
    background-color: rosybrown;
    margin: 0.6em 3em;
    padding: 7px 0;
    border-radius: 1rem;
    color: lavender;
    font: italic bold 25px Georgia, Serif;
}
.boton-entrar {
    background: linear-gradient(145deg, #d8cfea, #b6aec5);
    box-shadow:  3px 3px 2px #7b7686,
             -3px -3px 2px #ffffff;
    border-radius: 6px;
    font-family: Verdana;
    margin-top: 20px;
    margin-left: 8em;
    color: #735285;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
}
.iniciar-sesion {
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1em;
    margin-left: 4em;
}

/*Vista Mobile*/
@media only screen and (max-width: 767px) {


.comoEsNombre {
    text-align: center;
    padding-bottom: 10px;
    color: lavender;
    font: italic bold 25px Georgia, Serif;
}
.btn-portal {
    background: linear-gradient(145deg, #d8cfea, #b6aec5);
    box-shadow:  4px 4px 3px #7b7686,
                 -4px -4px 3px #ffffff;
    border-radius: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    color: #735285;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 10px;
    text-align: center;
}
}