/*Vista Desktop------------------------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
    
body {background-color:
whitesmoke;
}
h1 {text-align: center; 
    padding-top: 30px;
    font-size: 40px; 
    color: salmon;
}
h2 {text-align: center; 
    font-size: 30px;
     color: salmon;
}
.headerNav {
    z-index: 1;
    background-color: rosybrown;
    height: 5rem;
    color: #000d1a;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 2 rem 0;
    position: relative;
    left: 0;
    top: 0;
    right: 0; 
} 
.logo-nav-container {
    display: flex;
    justify-content: space-between;
}     
.logoNav {
    width: 5%;
    height: 5%;
    margin-left: 10px;
    margin-top: 10px; }
      
.menuIcon {
    display: none; 
}
html {
	scroll-behavior: smooth;
}
.logoCarrito {
    width: 65px;
    margin-left: 20px;
    margin-right: 15px;
}    
/*en media querie mobile se activa con Js*/
.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0; 
}
.navigation ul li {
    display: inline-block;
    margin: 5px 10px; 
}    
.navigation ul li a {
    color: #333;
    display: block;
    padding: 1rem 1rem;
    transition: all 0.4s; 
}    
.navigation ul li a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.9s; 
}
li > a:hover::after, li > a.active-nav::after {
    width: 100%;
    background: #000d1a; 
}
.espacio-banner-saludo{
    background-image: url("../assets/img/fotobanner.JPG");
    padding: 10px 0;
    margin: 15px 60px; 
    border-radius: 50px;
    box-shadow:  26px 26px 52px #867682,
                 -26px -26px 52px #ffffff;}
.saludo {
    font-size: 30px;
    font-family: 'Courgette', cursive;
    color: #f0bde3;
    opacity: 0.4;
    text-align: center;
}
.saludo-nombre {
    font-size: 40px;
    font-family: 'Courgette', cursive;
    color: #f0bde3;
    opacity: 0.4;
    text-align: center;
}
.saludo-dimo {
    font-size: 40px;
    font-family: 'Courgette', cursive;
    color: #f0bde3;
    opacity: 0.5;
    text-align: center;
}
/*Div cards y tienda*/
.tienda {
    background-image: linear-gradient(to right, #E8CBC0, #636FA4);
    padding: 30px 0; 
}
.titulo {
    font-size: 60px;
    color: lavenderblush;
    margin: 0 auto;
    font-weight: 700;
    font: italic bold 100px Georgia, Serif;
    text-shadow: -4px 3px 0  #ff745b, -14px 7px 0  #661f29;
      }
.titulo2 {
    color: #1f241f;
    text-decoration: underline #661f29;
}
.input-filtrar{
    display: flex;
    margin-top: 20px;
    margin-bottom: 15px;
    justify-content: center;
}
.filtrar {
    color: rosybrown;
    border: 0;
    outline: 0;
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    background-color: whitesmoke;
    text-shadow: 2px 2px 0 white;
    text-align: center;
}
.divCierre {
    display: flex;
    flex-direction: column;
}
.textoCierreCompra {
    padding-top: 20px;
    font-size: 25px;
}
.descuento {
    padding: 15px 0;
    font-size: 20px;
    color: lavander;
    text-align: center;
}
.btnMostrar {
    text-align: center;
    color: #661f29;
    font-size: 25px;
    border-radius: 35px;
    background: linear-gradient(145deg, #d8cfea, #b6aec5);
    box-shadow:  5px 5px 10px #9a93a6,
             -5px -5px 10px #faefff;
   
    margin: 20px 580px;
}
.btnOcultar {
    text-align: center;
    color: black;
    font-size: 25px;
    background-color: #cca2ff;
    border-radius: 5px;
    border: grey solid 2px;
    padding: 10px 0;
    margin: 20px 580px;
}
.tablaDescuento {
    padding: 5px;
    margin: 0 85px;
    border-radius: 35px;
    background: linear-gradient(145deg, #d8cfea, #b6aec5);
    box-shadow:  9px 9px 8px #7b7686,
             -9px -9px 8px #ffffff;
}
.nuevos {
    color: rosybrown;
    font: italic bold 40px Georgia, Serif;
    text-shadow: -1px 2px 0  #636FA4, -2px 3px 0  #661f29;
}
.btnVer {
    text-align: center;
    color: #661f29;
    font-size: 19px;
    padding: 10px 20px;
    border-radius: 35px;
    background: linear-gradient(145deg, #d8cfea, #b6aec5);
    box-shadow:  5px 5px 10px #9a93a6,
             -5px -5px 10px #faefff;
    margin: 20px 580px;}
.cardsLista {
    flex-direction: row;
}
/*Detalle compra*/
.totalCarrito {
    margin: 0.3em 7em;
    color: saddlebrown;
    font-size: 1.2rem;
    font-weight: 600;
}
.tabla-detalle {
    margin: 10px 4em;
}
.filaProductoNuevo {
    margin: 10px 4em;
}
.shopping-cart-quantity-input {
    margin: 0 35px; 
    width: 50px;
}
.shopping-cart-item-title {
    font-size: 18px;
    margin-left: 20px;
} 
.comprarButton {
    margin-right: 9em;
    font-size: 18px;
}
/*Blog*/
.divBlog {
    background-color: #9999cc;
    padding-bottom: 40px;
}
.tituloBlog{
    color: lavender;
    font: italic bold 50px Georgia, Serif;
    text-shadow: -1px 3px 0  #636FA4, -3px 5px 0  #661f29;
}

.subtituloBlog{
    font: italic bold 35px Georgia, Serif;
    color: lavender;
}
.piedras {
    margin: 20px 30px;
    border: solid lavender 8px!important;
}
/*Footer*/
.pie {
    margin-top: 30px;
    padding: 20px 0 10px 0;
    background-color: mistyrose;
    display: flex; 
}
.footer-contact {
    text-align: right;
    padding-left: 20px;
}
.footer-social {
    margin: 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    padding-top: 10px; 
}
.footer-links {
    display: flex;
    flex-direction: column;
    padding-left: 25px; 
}
.logo-di-footer {
    margin-left: 20px;
    padding-top: 18px;
    width: 50%; 
}
.footer-about {
    margin: 10px 20px; 
}
.logo-footer {
    width: 80%;
    transition: all 0.5s; 
}
.logo-footer:hover {
    transform: rotate(60deg); 
}
.menu-footer {
    color: #000d1a;
    font-size: 20px; 
}        
/*Cards*/
.contenedorCards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.card {
    border: lavender 5px groove;
    text-align: center;
    margin: 20px 30px;
}
.btn {
    background-color: rosybrown;
    color: black;
}
/*Pagina registro de usuarios*/
.body-registro {
    background-image: url(../assets/img/mineralformulario.jpg);
    box-sizing: border-box;
    font-family: 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    
}
.contenedor-form{
    margin-left: 300px;
    background-color: #eee;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    margin-bottom: 20px;
}
.header {
    background-color: thistle;
    border-bottom: 1px solid rosybrown;
    padding: 20px 40px;
}
.regi {
    margin: 0;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 2px;
}
.formulario {
    padding: 30px 40px;

}
.form-control {
    margin-right: 25px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input {
    border: 2px solid rosybrown;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
}
.form-control input:focus {
    outline: 0;
    border-color: #777;
}
.form-control.success input {
    border-color: green;
}
.text-error-form {
    font-family: Arial, Helvetica, sans-serif;
    color: red; 
    font-size: 12px;
    text-align: center;
}
.form-control.error input {
    border-color: red;
    padding-top: 15px;
}
.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
    
}
.form-control.success i.fa-check-circle {
    color: green;
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
    color: red;
    visibility: visible;
}
.form-control small {
	color: red;
    visibility: hidden;
    position: absolute;
    bottom: 0; 
    left: 0;
}
.form-control.error small {
    visibility: visible;

}
.formulario button {
    background-color: lightgray;
    border: 2px solid rosybrown;
    color: rosybrown;
    border-radius: 4px;
    display: block;
    font-size: 18px;
	font-weight: 700;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}
}/*Cierre vista Desktop*/

/*----------------------------------------------Vista Mobile ----------------------------------------------------*/
@media only screen and (max-width: 767px) {

/*NavBar Mobile*/
.contenedorNav {
  width: 100%;
}
.headerNav {
  width: 100%;
  background-color: rosybrown;
}
.logoNav {
    width: 60px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px; 
}
  .navigation {
    width: 100%;
    margin-top: 1rem; 
}
.menuIcon {
    margin-right: 10px;
    display: flex;
    cursor: pointer;
    justify-content: flex-end; 
}
.menuHam {
    vertical-align: middle;
    border-style: none;
    object-fit: contain; 
}
.navigation ul {
    display: none; 
}
.navigation ul.show {
    display: block;
    background-color: rosybrown; 
}
.navigation ul li {
    display: block; 
}
.navigation ul li a {
    color: #333;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s; 
}
.logoCarrito {
    width: 45px;
    margin-left: 20px;
}
/*Index Tienda Mobile*/
.espacio-banner-saludo{
    background-image: url("../assets/img/fotobanner.JPG");
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 10px;
    margin: 10px 15px; 
    border-radius: 50px;
    box-shadow:  5px 5px 10px #867682,
                 -5px -5px 10px #ffffff;
}
.saludo-dimo {
    margin: 0 5px;
    font-family: 'Courgette', cursive;
    color: #f0bde3;
    opacity: 0.5;
}
.saludo {
    margin: 0 5px;
    font-family: 'Courgette', cursive;
    color: #f0bde3;
    opacity: 0.5;
}
.saludo-nombre {
    font-size: 18px;
    font-family: 'Courgette', cursive;
    color: #f0bde3;
    opacity: 0.4;
    text-align: center;
}
.titulo {
    color: #d4acca;
    margin: 0 auto;
    font-weight: 700;
    font: italic bold 43px Georgia, Serif;
    text-shadow: -3px 3px 0  #6b5a67, -6px 4px 0  #834a88;
    text-align: center;
}
.titulo2 {
    text-align: center;
    font-size: 22px;
    margin-top: 14px;
    color: #4a3a5e;
    text-decoration: underline #661f29;
}
.descuento {
    text-align: justify;
    padding: 15px 0;
    font-size: 15px;
    color: lavander;
    text-align: center;
}
.tienda {
    margin-bottom: 20px;
}
.btnMostrar {
    text-align: center;
    color: #661f29;
    font-size: 15px;
    border-radius: 20px;
    background: linear-gradient(145deg, #d8cfea, #b6aec5);
    box-shadow:  5px 5px 8px #9a93a6,
             -5px -5px 8px #faefff;
    margin: 0 110px 20px 110px;
}
.divCierre {
    display: flex;
    flex-direction: column;
}
.tablaDescuento {
    font-size: 12px;
    padding: 3px;
    margin: 0 15px;
    border-radius: 35px;
    background: linear-gradient(145deg, #d8cfea, #b6aec5);
    box-shadow:  6px 6px 4px #7b7686,
             -6px -6px 4px #ffffff;
}
.input-filtrar{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: center;
    
}
.filtrar{
    margin-top: 15px;
    font-size: 15px;
    text-align: center;
}
.nuevos {
    color: lavender;
    font: italic bold 25px Georgia, Serif;
    text-shadow: -1px 2px 0  #636FA4, -2px 3px 0  #661f29;
}
.btnVer {
    text-align: center;
    color: #661f29;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 35px;
    background: linear-gradient(145deg, #d8cfea, #b6aec5);
    box-shadow:  5px 5px 10px #9a93a6,
             -5px -5px 10px #faefff;
   
    margin: 20px 90px;}
/*veeeeeeeeeer que onda con eso corrido de las cards en mobile*/
.milista{
    padding-left: 0px;
    margin-left: 0px;
}
.list-group-item {
    margin-left: 0;
    padding-left: 0;
}
/*Carrito Mobile*/
.totalCarrito {
    color: saddlebrown;
    font-size: 14px;
    font-weight: 600;
}
.tabla-detalle {
    margin: 10px 1em;
}
.filaProductoNuevo {
    margin: 10px 1em;
}
.shopping-cart-quantity-input {
    margin: 0 15px;
    padding: 10px 15px;
    width: 20px;
}
.shopping-cart-item-title {
    font-size: 10px;
    margin-left: 10px;
} 
.comprarButton {
    margin-right: 1em;
    font-size: 14px;
}
/*Blog mobile*/
.divBlog {
    background-color: rgb(158, 139, 139);
    padding-bottom: 10px;
}
.tituloBlog{
    padding-top: 16px;
    color: lavender;
    text-align: center;
    font: italic bold 30px Georgia, Serif;
    text-shadow: -1px 3px 0  #636FA4, -3px 5px 0  #661f29;
}

.subtituloBlog{
    text-align: center;
    font: italic bold 22px Georgia, Serif;
    color: lavender;
}
.piedras {
    margin: 20px 30px;
    border: solid lavender 8px!important;
}
/*Carousel Mobile*/
.carousel {
    width: 25em;
}
/*Formulario registro mobile*/
.container {
    margin-left: 10px;
    background-color: #eee;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
    overflow: hidden;
    width: 330px;
    max-width: 100%;
    margin-bottom: 30px;
}
.regi {
    margin: 0 0 0 25px;
    font-style: italic;
    font-size: 28px;
    letter-spacing: 1px;
    color:salmon; 
}
.registrate {
    font-size: 25px;
    text-align: center;
    color:rosybrown; 
    font-style: italic;
    text-shadow: -1px 2px 0  #636FA4, -1px 3px 0  #661f29;
}

.body-registro {
    background-image: url(../assets/img/mineralformulario.jpg);
    box-sizing: border-box;
    font-family: 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    
}

.container {
    margin: 10px 15px;
    background-color: #eee;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
    overflow: hidden;
    max-width: 90%;
}
.header {
    background-color: thistle;
    border-bottom: 1px solid rosybrown;
    padding: 10px 20px;
}
.regi {
    margin: 0;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 1px;
}
.formulario {
  padding: 15px 20px;

}
.form-control {
    margin-right: 5px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    position: relative;
 
}
.texto-input {
    color: black;
    font-size: 15px;
    margin-left: 10px;
}
.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input {
    border: 2px solid rosybrown;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px 0;
    width: 100%;
    margin: 5px;
    margin-bottom: 15px;
}
.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: green;
}

.form-control.error input {
    border-color: red;
    padding-top: 15px;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 20px;
    right: 10px;
    margin-top: 18px;
}

.form-control.success i.fa-check-circle {
    color: green;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: red;
    visibility: visible;
}
.form-control small {
	color: red;
    visibility: hidden;
    position: absolute;
    bottom: 0; 
    left: 0;
    margin: 18px 0 0 5px;
}
.form-control.error small {
    visibility: visible;
 
}
.formulario button {
    background-color: lightgray;
    border: 2px solid rosybrown;
    color: rosybrown;
    border-radius: 4px;
    display: block;
    font-size: 18px;
	font-weight: 700;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}
.text-error-form {
    font-family: Arial, Helvetica, sans-serif;
    color: red; 
    font-size: 12px;
    text-align: center;
}
/*Footer MOBILE*/

 .pie{
    padding: 10px 0; 
    margin-top: 5px; 
    background-color: mistyrose; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }
 .textoFooter{
    font-size: 16px; 
    font-weight: 500;
 }
 .footer-social{
     width: 55%; 
     display: flex;
     flex-direction: row;
     padding-bottom: 20px;
     padding-left: 40px;
    }
.redesSociales {
    font-size: 22px;
    text-align: center;
    margin-top: 15px;
    padding-top: 5px;
    border-top: 2px solid sandybrown;;
}
 .footer-links{
     padding-left: 7px;
    }
 .logo-di-footer{
     display: none;
    }
 .footer-about{
     margin: 5px 10px;
     text-align: center;
 }
 .logo-footer{
    width: 65%;
}
.footer-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
 .a-social-link{
     justify-content: center;
     text-align: center;
    }
 .menu-footer{
    color: black;
    font-size: 18px;
    font-weight: 600;
    line-height: 10px;
    text-align: center;
}
 .borde-mobile{
     padding-bottom: 10px;
    border-bottom: 6px solid sandybrown;
    }
 
}/*Cierre Vista Mobile*/